:root {
    --light-theme-text-color: rgb(23, 23, 26);
    --light-theme-background-color: rgb(228, 228, 228);

    --light-theme-text-color-gray: rgb(102, 101, 101);
    
    --dark-theme-text-color: rgb(241, 241, 241);
    --dark-theme-background-color:rgb(36, 36, 40);

    --light-theme-button-hover-color: gray;
    --dark-theme-button-hover-color: orange;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-text-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-theme-text-color-gray);
}

nav {
    text-align: center;
    display: inline-flex;
    border: 1px solid gray;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.05s all;
    color: var(--light-theme-text-color-gray);
}

.nav-button {
    color: var(--light-theme-text-color-gray);
    margin: 0;
    padding: 1rem;
    font-size: 13px;
    text-transform: capitalize;
    transition: 0.05s all; 
}

.nav-button:hover {
    background-color: orange;
    color: black;
}

.hide {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

section {
    text-align: center;
    gap: 4rem;
}

section section {
    margin-bottom: 4rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.skillCategory {
    margin: 1rem;
    width: 90px;
    height: 100%;
    padding: 0;
}

ul {
    list-style-type: none;
    text-align: left;
    padding-left:8px;
    padding-bottom: 0;
}

summary {
    padding-left: 1rem;
    transition: 0.15s all;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

summary:hover {
    cursor: pointer;
    color: var(--light-theme-button-hover-color);
    transition: 0.15s all;
}

summary::marker {
    content: "+ ";
}

details p {
    border: 3px dotted;
    padding: 1rem;
    margin-left: 1.5rem;
}

details[open] summary::marker {
    content: "- ";
}

button {
    cursor: pointer;
    margin: 0.5rem;
    border: none;
    background-color: transparent;
}

li a:hover,
a:hover,
button:hover {
    cursor: pointer;
    color: var(--light-theme-button-hover-color);
}

a,
a:visited {
    color: var(--light-theme-text-color);
}

.dark-mode,
.dark-mode a,
.dark-mode button {
    background-color: var(--dark-theme-background-color);
    color:var(--dark-theme-text-color)
}

.dark-mode li a:hover,
.dark-mode button:hover {
    color: var(--dark-theme-background-color)
}

.dark-mode a:hover {
    color: var(--light-theme-button-hover-color);
}

h2 {
    margin-bottom: 1rem;
    font-weight: 400;
}

h4 {
    border-bottom: 1px solid;
    margin: 0;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.dark-mode h6 {
    color: var(--dark-theme-text-color);
}

@media screen and (max-width: 250px) {
    body {
        padding: 0.5rem;
    }
}

.info-view {
    display: flex; 
    flex-direction: column; 
    gap: 3rem;
}

.icon {
    transition: transform 0.15s;
}

.icon:hover {
    transform: scale(1.1)
}

.linkedin {
    fill: #0077B5;
}

.github {
    fill: orange;
}

.contrast {
    fill: var(--light-theme-text-color);
}

.dark-mode .contrast {
    fill: var(--dark-theme-text-color);
}